@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap');

:root {
  --black: #232536;
  --purple: #592EA9;
  --yellow: #FFD050;
  --light-yellow: #FBF6EA;
  --white: #FFFFFF;
  --lavender: #F4F0F8;
  --dark-grey: #4C4C4C;
  --light-grey: #F4F4F4;
  --medium-grey: #6D6E76;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1 {
  font-family: "Sen", sans-serif;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -2px;
  font-weight: 700;
  color: var(--black);
}

h2 {
  font-family: "Sen", sans-serif;
  font-size: 36px;
  line-height: 1;
  letter-spacing: -2px;
  font-weight: 700;
  color: var(--black);
}

h3 {
  font-family: "Sen", sans-serif;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -1px;
  font-weight: 700;
  color: var(--black);
}

h4 {
  font-family: "Sen", sans-serif;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -1px;
  font-weight: 700;
  color: var(--black);
}

h5 {
  font-family: "Sen", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--black);
}

.body-1 {
  font-size: 16px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  color: var(--black);
  text-decoration: none;
}

.body-2 {
  font-size: 14px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  color: var(--white);
  text-decoration: none;
}

.button {
  text-decoration: none;
  color: var(--black);
  padding: 16px 48px;
  display: block;
  width: fit-content;
  font-family: "Sen", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  cursor: pointer;
}

.button.yellow {
  background-color: var(--yellow);
}

.button.white {
  background-color: var(--white);
}

.wrapper {
  max-width: 1248px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 24px;
}

/* socials */
.socials {
  display: flex;
  gap: 20px;
}

.social-link {
  color: var(--medium-grey);
  font-size: 18px;
  transition: color 500ms ease;
}

.social-link:hover {
  color: var(--yellow);
}

/* cap-1 code */
.cap-1 {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
}

/* cta container code */
.cta-container {
  padding: 100px 0;
}

/* category code */

.category.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.category-items-container {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* posts code */
.posts {
  padding-top: 40px;
}

.posts h1 {
  padding-bottom: 20px;
}

.posts-container {
  padding-top: 40px;
  border-top: 1px solid #6d6e7633;
}

.post {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-bottom: 40px;
  text-decoration: none;

}

.post:hover .post-info {
  background-color: var(--light-yellow);

}

.post .post-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 40px;
  height: 260px;
  transition: background-color 500ms ease;
  /* align-items: center; */
  justify-content: center;
}

.blog .cap-1,
.author .cap-1 {
  color: var(--purple);
}

.posts-nav {
  display: flex;
  gap: 10px;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.post .post-image {
  height: 260px;
  width: 390px;
}

.post .post-image img {
  height: 100%;
  width: inherit;
}

.posts-nav .link {
  color: var(--medium-grey);
  font-weight: 700;
  font-family: "Sen", sans-serif;
  text-decoration: none;
}

.posts-nav .link:hover {
  color: var(--purple);
}

@media screen and (width<980px) {
  h1 {
    font-size: 35px;
    line-height: 1;
  }

  h2 {
    font-size: 28px;
  }

  .category.wrapper {
    gap: 20px;
  }

  .category-items-container {
    gap: 15px;
  }

  .posts h1 {
    text-align: center;
  }

  .post .post-info {
    margin-left: -150px;
    background-color: var(--white);
    padding: 20px;
    height: unset;
  }


}

@media screen and (width<680px) {
  .category-items-container {
    gap: 10px;
  }

  .post {
    flex-direction: column-reverse;
    /* gap: 12px; */
  }

  .post .post-info {
    margin-left: 0;
    text-align: center;
    padding: 20px;
  }

  .post .post-image {
    width: 100%;
    height: 200px;
  }

  .post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}