.about {
    margin-top: 50px;
}

.about h1 {
    line-height: 1;
    margin-top: 10px;
}

.inner-wrapper {
    max-width: 1000px;
    margin-inline: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.offset {
    margin-bottom: -30px;
}

.about .grid .heading {
    background-color: var(--white);
    padding: 40px 30px 60px 30px;
}

.about .body-text {
    align-self: center;
    padding: 20px;
}

.about .banner {
    min-height: 300px;
    background-image: url('about-us-banner-image.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    padding-inline: 20px;
}

.about .banner .inner-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.about .stats {
    background-color: var(--yellow);
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
}

.mission-and-vision {
    padding: 50px;
    background-color: var(--lavender);
}

.about .amount {
    font-size: 32px;
    font-weight: 700;
}

.about h3 {
    margin-bottom: 10px;
}

.teams {
    margin-top: 100px;
}

.about .flex {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
}

.about .text {
    max-width: 550px;
}

.about h4 {
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.3;
}

.about .image {
    position: relative;
    text-align: end;
}

.about .deco-image {
    position: absolute;
}

.about .deco-image.yellow-shape {
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}


.about .why {
    flex-direction: row-reverse;
    margin-top: 50px;
}

.about .deco-image.purple-circle {
    left: 50%;
    transform: translateX(-50%);
    bottom: -37px;
}

.authors {
    margin-top: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0;
}

.authors-flex {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* padding-inline: 24px; */
}

@media screen and (width<=1235px) {
    .authors-flex {
        justify-content: center;
    }
}

@media screen and (width<=980px) {

    .offset {
        margin-bottom: 30px;
    }

    .about .grid {
        grid-template-columns: 1fr;
        gap: 10px;
        max-width: 700px;
        margin-inline: auto;
    }

    .about .grid .heading,
    .about .grid .body-text {
        padding: 0;
        text-align: center;
    }

    .about h1 {
        line-height: 1.1;
        margin-top: 0px;
    }

    .about .placeholder {
        display: none;
    }

    .mission-and-vision .grid {
        max-width: 100%;
        gap: 40px;
    }

    .about .flex {
        flex-direction: column;
        gap: 30px;
    }

    .teams {
        margin-top: 40px;
    }

    .about .text {
        max-width: 100%;
        text-align: center;
    }

    .about h2 {
        margin-bottom: 15px;
    }

    .about h4 {
        display: none;
    }

    .mission-and-vision {
        text-align: center;
    }
}

@media screen and (width<=680px) {
    .about .stats {
        flex-direction: column;
        width: 200px;
    }

    .about .banner {
        min-height: 400px;
    }

    .mission-and-vision {
        padding: 20px;
    }

    .about .image img {
        width: 100%;
    }

    .about .deco-image.yellow-shape,
    .about .deco-image.purple-circle {
        display: none;
    }
}