.dashboard {
    /* margin-top: 50px; */

    display: flex;
}

.dashboard aside {
    background-color: var(--black);
    padding: 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    width: 100%;
}

.dashboard .navigation {
    flex-grow: 1;
}

.dashboard .author {
    display: flex;
    gap: 10px;
    align-items: center;
}

.dashboard .author .avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.dashboard .author .admin {
    color: var(--medium-grey);
    font-size: 12px;
    line-height: 1;
    margin-bottom: 5px;
}

.dashboard .author .name {
    color: var(--white);
    line-height: 1;
    font-size: 14px;
}

.dashboard article {
    padding: 40px;
    width: 100%;
}

.dashboard h1 {
    line-height: 1;
}

.dashboard h3 {
    margin-block: 10px;
}

.dashboard table {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.168);
    width: 100%;
    padding: 20px;
    margin-top: 40px;
    text-align: left;
}

.dashboard tr {
    margin-bottom: 20px;
    display: block;
}

.dashboard td,
.dashboard th {
    margin-right: 20px;
    display: inline-block;
    max-width: 150px;
    line-height: 1.1;
}

.dashboard .post-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}